@font-face {
    font-family: 'lindaubold';
    src: url('linbld-webfont.woff2') format('woff2');

}

@font-face {
    font-family: 'lindauregular';
    src: url('linreg-webfont.woff2') format('woff2');

}

:root {
    --primary: #781B7D;
    --secondary: #ffffff;
}

body {
    background: var(--primary);
}

nav {
    padding: 3% 0;
}

h1,
h2,
h3,
h4,
p {
    color: var(--secondary);
}

h1,
h2,
h3,
h4 {
    font-family: 'lindaubold';
    text-align: center;
}

h3,
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h4 {
    font-weight: bold;
}


li {
    list-style-type: none;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.linkunderline {
    text-decoration: underline solid var(--secondary);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-column {
    align-items: center;
}

.third-flex-item {
    width: 33%;
    height: auto;
    overflow: auto;
}

header img {
    width: 25%;
    border-radius: 30px;
    margin: 0 auto;
}

button {
    height: 50%;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 30px;
}

button h2 {
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    font-weight: 900;
}

header button {
    width: 40%;
}

footer button {
    width: 10%;
}

footer p {
    font-weight: bold;
}

.fa-arrow-up {
    font-size: 25pt;
    padding: 1% 0;
}
