@font-face {
    font-family: 'lindaubold';
    src: url('linbld-webfont.woff2') format('woff2');

}

@font-face {
    font-family: 'lindauregular';
    src: url('linreg-webfont.woff2') format('woff2');

}

html {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #781B7D;
    --secondary: #ffffff;
    --blue: #0090FF;
    --orange: #FF9200;
    --red: #F83F3F;
}

body {
    background: var(--primary);
}

nav {
    padding: 3% 0;
}

img {
    max-width: 100%;
    height: auto;
    overflow: auto;
}

h1,
h2,
h3,
h4,
p {
    color: var(--secondary);
}

h1,
h2,
h3,
h4 {
    font-family: 'lindaubold';
    text-align: center;
}

h3,
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 14pt;
    font-weight: bold;
}


li {
    list-style-type: none;
}

p {
    font-family: 'Lato', sans-serif;
    padding: 0 5%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.linkunderline {
    text-decoration: underline solid var(--primary);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-column {
    align-items: center;
}

.half-flex-item {
    width: 50%;
    height: auto;
    overflow: auto;
}

.third-flex-item {
    width: 33%;
    height: auto;
    overflow: auto;
}

.content-area,
.skill-row {
    padding: 3% 0;
}

header img {
    width: 25%;
    border-radius: 30px;
    margin: 0 auto;
}

main img {
    padding: 3% 0;
}

#student {
    width: 20%;
    height: auto;
    overflow: auto;
    border-radius: 50%;
}

button,
input {
    height: 50%;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 30px;
    border: none;
}

button h2,
::placeholder,
input {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: var(--primary);
    font-weight: 900;
}

header button {
    width: 40%;
}

::placeholder,
input {
    color: var(--secondary);
    text-align: center;
}

input {
    padding: 5%;
}

.blue-row input {
    background: var(--blue);
}

.red-row input {
    background: var(--red);
}

.orange-row input {
    background: var(--orange);
}

footer {
    padding-bottom: 3%;
}

footer button {
    width: 10%;
}

footer p {
    font-weight: bold;
    padding: 0;
}

.fa-arrow-up {
    font-size: 25pt;
    padding: 1% 0;
}

nav h2,
footer p {
    color: var(--primary);
}

#nav-row,
footer div {
    background: var(--secondary);
    border-radius: 30px;
}
