@font-face {
    font-family: 'lindaubold';
    src: url('linbld-webfont.woff2') format('woff2');

}

@font-face {
    font-family: 'lindaublack';
    src: url('linblk-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'lindauregular';
    src: url('linreg-webfont.woff2') format('woff2');

}

:root {
    --primary: #781B7D;
    --secondary: #ffffff;
}

body {
    background: var(--primary);
}

h1,
h2,
p {
    color: var(--secondary);
}

h1,
h2 {
    font-family: 'lindaubold';
    text-align: center;
}

li {
    list-style-type: none;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.linkunderline {
    text-decoration: underline solid var(--secondary);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-column {
    align-items: center;
}

.flex-item {
    width: 33%;
    height: auto;
    overflow: auto;
}

header img {
    width: 25%;
    border-radius: 30px;
    margin: 0 auto;
}

button {
    width: 40%;
    height: 50%;
    background: var(--secondary);
    border-radius: 30px;
}

button h2 {
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    font-weight: 900;
}
